body
{
    background-color: rgb(16, 151, 72); 
    color: rgb(221, 221, 221); 
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif;
}
header{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-size: 64px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
    cursor: pointer;
}
h1:hover
{
    color: rgb(241, 241, 241); 
}

.jr
{
    font-size: 76px;
}
.jr:hover
{
    font-size: 88px;
}

h2
{
    color: rgb(232, 236, 174); 
    font-style: italic;
    font-size: 44px;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0px 0px 15px rgb(172, 140, 36);
}

.board
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    visibility: hidden;
}

.card
{
    width: 125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image: url(kk2.jpg);
    background-size: 125px;
    border: 4px solid rgb(63, 216, 63);
    cursor: pointer;
    filter: brightness(95%);
    transition: all .3s ease-in;
    transition: opacity 1s ease-in-out;
}
.card:hover
{
    border: 4px solid rgb(53, 247, 53);
    filter: brightness(100%);
}
.cardA
{
    
    border: 4px solid rgb(53, 247, 53);
    cursor: default;
    filter: brightness(100%);
}

.score
{
    margin: 5px; 
}

#wybor
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px;
    text-align: center;
}
#wybor>h3
{
    letter-spacing: 3px;
    font-style: italic;
}

#wybor>p
{
    margin: 80 0px;
    font-size: 48px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;

}
#wybor>p:hover
{
    text-shadow: 0px 0px 25px rgb(166, 247, 144);
    color: rgb(166, 247, 144);
    cursor: pointer;

}